body, html {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, arial;
}

.about {
  text-align: center;
}

.about-header {
  background-color: #1F2C13;
  background-size: cover;
  color: #F4F4F4;
  padding: 20px;
}

.logo {
  font-size: 24px;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  margin-left: 50px;
  cursor: pointer;
}

.nav-list a {
  color: #F4F4F4;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.nav-list li:hover {
  background-color: #A94802;
}

.currency-lang {
  display: flex;
  gap: 10px;
}

.account {
  background: transparent;
  border: none;
  margin-right: 50px;
  cursor: pointer;
  position: relative;
}

.account-combobox {
  position: absolute;
  top: 88px;
  right: 55px;
  width: 400px;
  height: 350px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid #F4F4F4;
  border-radius: 8px;
  overflow: hidden;
  z-index: 10;
}

.account-combobox ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.account-combobox li {
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.settings {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  height: 45px;
}

.settings svg {
  width: 30px;
  height: 30px;
}

.white-line, .white-line-2 {
  background-color: #F4F4F4;
  height: 2px;
  width: 100%;
  margin: 5px 0;
}

.white-line-2 {
  margin-top: 15px;
}

.select-dropdown {
  background-color: #444;
  border: 2px solid #F4F4F4;
  font-family: Helvetica Neue, arial;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
  color: #F4F4F4;
  height: 45px;
  cursor: pointer;
  margin-right: 15px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.white-strip {
  background-color: #F4F4F4;
  height: 2px;
  width: 100vw;
  position: absolute;
  margin-left: -20px;
  margin-top: 17px;
}

.about-description {
  background-image: url('../images/about_back.jpg');
  background-size: cover;
  padding: 60px 0;
}

.description h1 {
    font-family: Chonburi, arial;
    font-size: 60pt;
}

.description p {
    font-size: 12pt;
    margin-left: 75px;
}

.description h1, p  {
  text-align: left;
  color: #F4F4F4;
  padding: 10px;
  margin-left: 60px;
}

.long-description {
    margin-top: 50px;
    color: #040606;
}

.long-description h1 {
    font-family: Chonburi, arial;
    font-size: 50pt;
    text-align: left;
    margin-left: 120px;
}

.content-part {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #040606;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  font-family: Helvetica Neue, arial;
}

/* Стили для каждого отдельного контейнера */
.content-part-1 {
  width: 600px;
  margin-left: 60px;
  margin-top: 40px;
}

.content-part-2 {
  width: 680px;
  margin-left: 680px;
  margin-top: -510px;
}

.content-part-3 {
  width: 550px;
  margin-left: 20%;
  margin-top: 150px;
}

.content-part-4 {
  width: 70%;
  margin-left: 15%;
}

.long-description .content-part p {
    font-size: 11pt;
    color: #040606;
    margin-left: 20px;
}

.long-description .content-part ol {
    padding-left: 20px;
    text-align: left;
}

.long-description .content-partol li {
    margin: 10px 0;
    font-size: 14pt;
    color: #040606;
}