body, html {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, arial;
}

.my-rules {
  text-align: center;
}

.rules-header {
  background-color: #1F2C13;
  background-size: cover;
  color: #F4F4F4;
  padding: 20px;
}

.logo {
  font-size: 24px;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  margin-left: 50px;
  cursor: pointer;
}

.nav-list a {
  color: #F4F4F4;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.nav-list li:hover {
  background-color: #A94802;
}

.currency-lang {
  display: flex;
  gap: 10px;
}

.lan-account {
  background: transparent;
  border: none;
  margin-right: 50px;
  cursor: pointer;
  position: relative;
}

.landlord-account-combobox {
  position: absolute;
  top: 88px;
  right: 55px;
  width: 400px;
  height: 350px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid #F4F4F4;
  border-radius: 8px;
  overflow: hidden;
  z-index: 10;
}

.landlord-account-combobox ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.landlord-account-combobox li {
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.landlord-account-combobox svg {
  color: #F4F4F4;
}

.settings {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  height: 45px;
}

.settings svg {
  width: 30px;
  height: 30px;
}

.white-line, .white-line-2 {
  background-color: #F4F4F4;
  height: 2px;
  width: 100%;
  margin: 5px 0;
}

.white-line-2 {
  margin-top: 15px;
}

.white-strip {
  width: 1480px;
}

.rules-panel {
  background-image: url('../images/lan_background.jpg');
  background-size: cover;
  height: 600px;
  text-align: left;
  padding: 20px;
  color: #F4F4F4;
}

.rules-panel h1 {
  font-family: Chonburi, arial;
  font-size: 50pt;
  text-align: left;
  color: #F4F4F4;
  margin-top: 20px;
  margin-left: 40px;
}

.rules-panel p {
  margin-left: 30px;
  margin-top: -20px;
}

.edit-account-2 {
  display: flex;
  text-align: right;
  justify-content: end;
  margin-right: 20px;
  margin-top: 80px;
}

.edit-account-2 p {
  margin-left: 10px;
  margin-top: -10px;
}

.lan-panel-settings-4 {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  margin-left: 50px;
  margin-top: 105px;
  border-radius: 5px;
  height: 150px;
}

.lan-panel-settings-4 .active-button {
  background-color: #A94802;
  color: #F4F4F4;
}

.lan-panel-settings-4 button {
  background: none;
  border: 1px solid #F4F4F4;
  border-radius: 5px;
  width: 200px;
  height: 55px;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.lan-panel-settings-4 button:hover {
  background-color: #A94802;
  color: #F4F4F4;
}

.lan-panel-settings-4 svg {
  width: 30px;
}

.lan-category-panel {
  position: relative;
  z-index: 2;
  margin-top: 40px;
  padding: 20px;
  background: none;
  width: 1290px;
  margin-left: 50px;
  height: 50px;
  margin-top: 250px;
}

.lan-categories {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.category {
  cursor: pointer;
  color: #666;
  font-family: Helvetica Neue, arial;
}

.category.active {
  color: #F4F4F4;
  text-decoration: none;
}

.progress-bar {
  margin-top: 20px;
  height: 2px;
  background-color: #666;
  position: relative;
  width: 100%;
}

.progress {
  position: absolute;
  height: 100%;
  width: 33%;
  background-color: #A94802 !important;
  left: 0;
  transition: left 0.3s ease, width 0.3s ease;
}

.my-rules-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.rules-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.added-rules {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.lan-rules-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.rule-topic, .rule-condition {
  flex: 1;
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  box-sizing: border-box;
}

.lan-rules {
  display: flex;
  align-items: center;
  gap: -50px;
  margin-right: 100px;
  width: 50%;
  margin-left: 60px;
}

.lan-rules .input-label {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #666;
  cursor: default;
  width: auto;
  box-shadow: none;
  outline: none;
  white-space: nowrap;
}

.lan-rules input[type="text"]:not(.input-label) {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  width: 60%;
  box-sizing: border-box;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  flex: 1;
}

.save-button {
  background-color: #A94802;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.save-button:hover {
  background-color: #8c3c02;
}

.my-rules-footer {
  background-color: #1F2C13;
  color: #F4F4F4;
  padding: 20px 0;
  height: 520px;
  margin-top: 60px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.logo-footer svg {
  margin-top: -10px;
}

.logo-footer p {
  font-size: 25px;
  font-family: Helvetica Neue, Arial;
  text-align: center;
  margin-left: 10px;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-column {
  flex: 1;
  margin: 0 20px;
  text-align: left;
  justify-content: left;
}

.footer-column p {
  margin: 5px 0;
  text-align: left;
  margin-left: -100px;
  cursor: pointer;
}

.register-property-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-top: -10px;
}

.register-property {
  width: 380px;
  text-align: center;
  border: 1px solid #F4F4F4;
  border-radius: 5px;
  padding: 10px;
}

.register-property p {
  margin-left: 5px;
  margin-bottom: 20px;
  text-align: left;
}

.reg-prop {
  width: 400px;
  background-color: #fff;
  color: #1F2C13;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reg-prop:hover {
  background-color: #A94802;
  color: #F4F4F4;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-left: -80px;
  margin-top: 30px;
}

.footer-payments, .footer-apps {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-apps {
  margin-left: -120px;
}

.footer-apps svg {
  margin-left: 40px;
}

.footer-copy {
  text-align: right;
  margin-right: -80px;
}

.white-strip-footer {
  background-color: #F4F4F4;
  height: 2px;
  width: 99vw;
  position: absolute;
  margin-left: -141px;
  margin-top: -25px;
}
.white-strip-footer-2 {
  background-color: #F4F4F4;
  height: 2px;
  width: 99vw;
  position: absolute;
  margin-left: -141px;
  margin-top: 20px;
}

.download-app {
  margin-left: 100px;
}