body, html {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, arial;
}

.sign-up-page {
  font-family: Helvetica Neue, arial;
  
}

.home-header {
  background-image: url('../images/back_fone.jpg');
  background-size: cover;
  color: #F4F4F4;
  padding: 20px;
}

.logo {
  font-size: 24px;
  justify-content: center;
  margin-left: -50px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  color: #F4F4F4;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-left: 50px;
  cursor: pointer;
}

.active {
  text-decoration: underline;
}

.nav-list li:hover {
  background-color: #A94802;
}

.person {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.tenant {
  width: 155px;
  height: 45px;
  border: 1px solid #A94802;
  border-radius: 5px;
  font-size: 12pt;
  color: #A94802;
  cursor: pointer;
}

.agent {
  background-color: #A94802;
  width: 155px;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 12pt;
  color: #F4F4F4;
  cursor: pointer;
}

.currency-lang {
  display: flex;
  gap: 10px;
}

.login {
  background-color: #F4F4F4;
  color: #040606;
  font-family: Helvetica Neue, arial;
  width: 177px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login:hover {
  background-color: #A94802;
  color: #F4F4F4;
}

.select-dropdown {
  background-color: #444;
  border: 2px solid #F4F4F4;
  font-family: Helvetica Neue, arial;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
  color: #F4F4F4;
  height: 45px;
  cursor: pointer;
  margin-right: 15px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.white-strip {
  background-color: #F4F4F4;
  height: 2px;
  width: 99vw;
  position: absolute;
  margin-left: -20px;
}

.sign-up-content {
  max-width: 500px;
  margin: 50px auto;
  margin-top: 85px;
  padding: 20px;
  border: 1px solid #F4F4F4;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.sign-up-content h2, p {
  text-align: center;
}

.sign-up-content label {
  display: block;
  text-align: left;
}

.sign-up-content a {
  text-align: center;
  cursor: pointer;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

#password {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.toggle-password {
  position: absolute;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  font-family: Helvetica Neue, arial;
  margin-bottom: 20px;
  margin-top: 50px;
}

.create-acc {
  font-size: 13pt;
}

.highlight {
  color: #A94802;
}

input[type="name"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: #F4F4F4;
}
input[type="email"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: #F4F4F4;
}
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: #F4F4F4;
}

.email-button {
  width: 100%;
  padding: 10px;
  background-color: #A94802;
  color: #F4F4F4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
}

.other-options {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.sign-up-content .social-button {
  margin: 0 10px;
  width: 84px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid #F4F4F4;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.inner-square {
  width: 35px;
  height: 35px;
  background-color: #4267B2;
  border-radius: 8px;
  display: flex;
  align-items: right;
  justify-content: right;
}

.inner-square svg {
  width: 40%;
  height: 120%;
  margin-top: 2px;
  margin-right: 4px;
}

p {
  font-size: 14px;
}

a {
  color: #A94802;
  text-decoration: none;
}

.forgot {
  display: flex;
  align-items: end;
  justify-content: end;
}

.sign-up-footer {
  background-color: #1F2C13;
}